/*
setting background image its width and height

*/

body{
    background-image: linear-gradient(to bottom, rgba(26, 23, 23, 0.6) 0%,rgba(22, 19, 19, 0.6) 100%),
     url('twitter_back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
}

h2{
    color: white;
}

.a-field__label{
    color: white;
}

#sentiment_imported_tweet{
    width: 30%;
}