<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Sentiment Analysis</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script id="replace_with_navbar" src="nav.js"></script>
</head>
<body>
    <!--nav bar for all-->
    <!--Navigation bar-->
    <div id="nav-placeholder">

    </div>

    <script>
    $(function(){
    $("#nav-placeholder").load("{ % static 'nav' %}");
    });
    
    </script>
    <!--end of Navigation bar-->

    {csrf token}
    <form action="{% url 'sentimentUrl' %}">
        <input type="text" name="sentence">
        <input type="submit">

    </form>
    
</body>
</html>