<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Sentiment</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sTwitter.css' %}">

</head>
<body>
    <!--- navbar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Sentiment Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'feature' %}">Features</a>            
            <a class="nav-item nav-link" href="{% url 'about' %}">About  </a>
            <a class="nav-item nav-link" href="{% url 'contact' %}">Contact  </a>
            <a class="nav-item nav-link" href="#">Login</a>
            <a class="nav-item nav-link" href="#">Signup</a>
          </div>
        </div>
      </nav>

      <!--section-->
     <!-- <section class="ftco-cover"  id="section-home"> -->
        <div class="container">
          <div class="row align-items-center ftco-vh-100">
            <div class="col-md-7">
              <h1>Sentiment Analysis</h1>
              <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up"  data-aos-delay="600">Categorises tweet under Positive, Negative and Neutral</h2>
                <div class="row">
                    <div class="box counter-left md-5 col-2" data-aos="fade-up" data-aos-delay="700">
                    <img src="{% static 'icons/positive.png' %}">
                    </div>
                    <div class="box counter-left md-5 col-2" data-aos="fade-up" data-aos-delay="700">
                    <img src="{% static 'icons/negative.png' %}">
                    </div>
                    
                    <div class="box counter-left md-5 col-2" data-aos="fade-up" data-aos-delay="700">
                    <img src="{% static 'icons/neutral.png' %}">
                    </div>
                </div>
  <br>
  <br>
  
  
  
  <div class="page">
    <div>

      <label class="a-field__label-wrap search__hint">
        <span class="a-field__label" >Enter the twitter handle or hashtag to import tweets from twitter.</span>
      </label>  
      <form class="search" method="post">
        {% csrf_token %}
        <div class="a-field search__field">
          <input type="text" id="txtbox" name="txtbox" class="r-text-field a-field__input search__input" placeholder="@twitter_handle or #content" required>
          <button class="r-button search__button search__clear" type="reset">
            <span class="search__clear-label">Clear</span>
                      
          </button>
                 
        </div>
        <button class="r-button search__button search__submit" id="submit" type="submit">
          <span class="search__submit-label">Search</span>
          
        </button>
      </form>
    </div>
  </div>
  
  
  
            </div>
          
  
  
  
  
    </div>
            </div>
      
      <!-- </section> -->


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    
</body>
</html>